<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560400509256-crhr48k3uu339p1nfc9q50ivakn912pp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560400509256-crhr48k3uu339p1nfc9q50ivakn912pp</string>
	<key>API_KEY</key>
	<string>AIzaSyA75x-94jyJz1kw37t3Lm7AZ2TH63ejKDI</string>
	<key>GCM_SENDER_ID</key>
	<string>560400509256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.readingOwl</string>
	<key>PROJECT_ID</key>
	<string>readingowl-ff5fa</string>
	<key>STORAGE_BUCKET</key>
	<string>readingowl-ff5fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560400509256:ios:38fc10655433445738ab7d</string>
	<key>DATABASE_URL</key>
	<string>https://readingowl-ff5fa-default-rtdb.firebaseio.com</string>
</dict>
</plist>